.leaderboard {
    font-size: 20px;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 60%;
    margin: 0 auto;
}

.score {
    background: rgb(165, 50, 71);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
}

.score div {
    width: 10%;
    text-align: center;
}


input {
    background: rgb(165, 50, 71);
    border: none;
}

input:focus {
    outline: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}

input::placeholder {
    color: black;
}