@import "./colors.css";

.laser-beam {
  z-index: -1;
  position: fixed;
  left: 50%;
  bottom: 0;
  width: 3px;
  height: 500%;
  background: rgba(99, 195, 231, 0.6);
  -webkit-box-shadow: 0px 0px 15px 0px var(--neon-blue);
  -moz-box-shadow: 0px 0px 15px 0px var(--neon-blue);
  box-shadow: 0px 0px 15px 0px var(--neon-blue);
  transform-origin: 0 100%;
  -webkit-transform-origin: 0 100%;
  animation: laser 7s infinite;
  -webkit-animation: laser 7s infinite;
}

.red {
  -webkit-animation: laser 8s infinite;
  animation: laser 8s infinite;
  background: rgba(236, 19, 65, 0.6);
  -webkit-box-shadow: 0px 0px 15px 0px var(--neon-red);
  -moz-box-shadow: 0px 0px 15px 0px var(--neon-red);
  box-shadow: 0px 0px 15px 0px var(--neon-red);
}

.green {
  -webkit-animation: laser 9s infinite;
  animation: laser 9s infinite;
  background: rgba(86, 212, 69, 0.6);
  -webkit-box-shadow: 0px 0px 15px 0px var(--neon-green);
  -moz-box-shadow: 0px 0px 15px 0px var(--neon-green);
  box-shadow: 0px 0px 15px 0px var(--neon-green);
}

.purple {
  -webkit-animation: laser 6s infinite;
  animation: laser 6s infinite;
  background: rgba(204, 102, 255, 0.6);
  -webkit-box-shadow: 0px 0px 15px 0px var(--neon-purple);
  -moz-box-shadow: 0px 0px 15px 0px var(--neon-purple);
  box-shadow: 0px 0px 15px 0px var(--neon-purple);
}

.left {
  left: 0%;
}

.right {
  left: 100%;
}

.middle {
  left: 50%;
}

.unsynced {
  animation: laserUnsynced 7s infinite;
  -webkit-animation: laserUnsynced 7s infinite;
}

@-webkit-keyframes laser {
  0% {
    -webkit-transform: rotateZ(-75deg);
    transform: rotateZ(-75deg);
  }
  50% {
    -webkit-transform: rotateZ(75deg);
    transform: rotateZ(75deg);
  }
  100% {
    -webkit-transform: rotateZ(-75deg);
    transform: rotateZ(-75deg);
  }
}

@keyframes laser {
  0% {
    -webkit-transform: rotateZ(-75deg);
    transform: rotateZ(-75deg);
  }
  50% {
    -webkit-transform: rotateZ(75deg);
    transform: rotateZ(75deg);
  }
  100% {
    -webkit-transform: rotateZ(-75deg);
    transform: rotateZ(-75deg);
  }
}

@keyframes laserUnsynced {
  0% {
    -webkit-transform: rotateZ(75deg);
    transform: rotateZ(75deg);
  }
  50% {
    -webkit-transform: rotateZ(-75deg);
    transform: rotateZ(-75deg);
  }
  100% {
    -webkit-transform: rotateZ(75deg);
    transform: rotateZ(75deg);
  }
}

@-webkit-keyframes laserUnsynced {
  0% {
    -webkit-transform: rotateZ(75deg);
    transform: rotateZ(75deg);
  }
  50% {
    -webkit-transform: rotateZ(-75deg);
    transform: rotateZ(-75deg);
  }
  100% {
    -webkit-transform: rotateZ(75deg);
    transform: rotateZ(75deg);
  }
}
