.leaderboard {
    font-size: 30px;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 60%;
    margin: 0 auto;
}

.scoreBox {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 20px;
}

.score {
    background: rgb(218, 134, 149);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    border-radius: 100px;
    width: 100%;
}

.name {
    background: rgb(165, 50, 71);
    color: #f2f2f2;
    text-transform: uppercase;
    width: 90%;
    height: 100%;
    border-radius: 100px;
    display: flex;
    align-items: center;
    padding-left: 50px;
    /* animation: changeBackgroundColor 5s linear infinite alternate; */
}

.scoreNumber {
    background: rgb(218, 134, 149);
    color: #222;
    width: 15%;
    height: 100%;
    padding-right: 30px;
    border-radius: 0 500px 500px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}   





@keyframes changeBackgroundColor {
    0% { background-color: rgb(165, 50, 71) }
    12.5% { background-color: rgb(152, 8, 145) }
    25% { background-color: rgb(10, 95, 171) }
    37.5% { background-color: rgb(8, 142, 152) }
    50% { background-color: rgb(18, 138, 32) }
    62.5% { background-color: rgb(157, 174, 2) }
    75% { background-color: rgb(199, 122, 7) }
    100% { background-color: rgb(165, 50, 71) }
}