@import "./colors";

.matchesBox {
    width: 60%;
    margin: 0 auto;
}

.matchesList {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    border-collapse: collapse;
    font-size: 1.6rem;
    table-layout: fixed;
}

table th {
    padding: 20px;
    border-bottom: 1px solid white;
}

table tr {
    width: 100%;
}

table caption {
    font-size: 2.5rem;
}

.playerHeader, .vsHeader {
    width: 20% !important;
}

.playerHeader {
    overflow: hidden;
}

.tableColum {
    width: 20%;
}

tr:nth-child(odd):not(:first-child) {
    background-color: rgba(40, 40, 40, .8);
}

tr:nth-child(even):not(:nth-child(2)) {
    background-color: rgba(30, 30, 30, .8);
}

tr:nth-of-type(5n+1):not(:nth-child(2)) {
    color: var(--neon-blue);
}

tr:nth-of-type(5n+2) {
    color: var(--neon-red);
}

tr:nth-of-type(5n+3) {
    color: var(--neon-green);
}

tr:nth-of-type(5n+4) {
    color: var(--neon-purple);
}

td {
    padding: 20px 10px;
    height: 40px;
    text-transform: uppercase;
    overflow: hidden;
}

.vsBox {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

td img {
    height: 60%;
}

.whiteKing {
    filter: invert(100%);
}


hr {
    width: 65%;
    margin: 30px auto;
}


@media (max-width: 1000px) {
    .titleBox {
        margin: 2rem auto 4rem !important; /* I know, not good practice, but i cant be bothered */
        height: 8rem !important;
    }

    .matchesBox {
        width: 98%;
    }

    .matchesList {
        font-size: 1rem;
    }

    .vsHeader {
        max-width: 5%;
        padding: 0;
        margin: 0;
    }

    .vs {
        gap: 0;
    }

    table img {
        visibility: hidden;
    }

    td {
        padding: 10px 5px;
        /* height: 30px; */
    }

}